.main-sidebar {
  background-color:#FFFFFF !important;
}
.sidebar a {
  color:#010101 !important;
}
.navbar {
  background-color:#010101 !important;
}
.box.box-primary {
    border-top-color: #f9780a !important;
}
.logo {
  background-color:#FFFFFF !important;
}
.logo:hover {
  background-color:#FFFFFF !important;
}
a {
  color: #f9780a !important;
}
.btn-primary, btn-primary a {
  color: #FFFFFF !important;
}
.sidebar-toggle:hover {
  background-color: #FFFFFF !important;
}
.sidebar-menu>li:hoover {
  background-color: #d8d8d8 !important;
}
.skin-blue .sidebar-menu>li>a {
    border-left: 3px solid #f9780a;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #f9780a;
}
.sidebar-menu>li.menu-open>a{color:#fff;background:#d8d8d8 !important}
.sidebar-menu>li:hover>a,.skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li.menu-open>a{color:#fff;background:#f9780a !important}

.checkbox-inline {
  display: inline;
}
.skin-blue .main-header li.user-header {
    background-color: #828282 !important;
}